In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
from sitecustomize import ROOT # lib này được khởi tạo ban đầu dự án

In [3]:
from config.database.database import Database

In [4]:
db = Database()

Kết nối MySQL thành công!

In [5]:
# load theo từng batch tránh quá tải ram

import pandas as pd

def load_save(table_name=None, batch_size=100000):
    if not table_name:
        return

    file_path_csv = f"{ROOT}/data/csv/{table_name}.csv"
    file_path_pkl = f"{ROOT}/data/pkl/{table_name}.p"
    query = f"SELECT * FROM {table_name}"
    db.cursor.execute(query)

    columns = [desc[0] for desc in db.cursor.description]
    first_write = True
    dfs = []

    while True:
        data = db.cursor.fetchmany(batch_size)
        if not data:
            break

        df = pd.DataFrame(columns=columns, data=data)
        dfs.append(df) 

        df.to_csv(file_path_csv, mode="w" if first_write else "a", index=False, header=first_write)
        first_write = False
        print(f"Saved {len(data)} rows...")

    if dfs:
        pd.concat(dfs).to_pickle(file_path_pkl)
        print(f"Saved all data to {file_path_pkl}")

# get train data (application hiện tại)

In [19]:
load_save(table_name="application_train")

Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 7511 rows...
Saved all data to d:\Data Science/data/pkl/application_train.p

# get test data (application hiện tại)

In [20]:
load_save(table_name="application_test")

Saved 48744 rows...
Saved all data to d:\Data Science/data/pkl/application_test.p

# get previous application data (application trước đó)

In [21]:
load_save(table_name="previous_application")

Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 70214 rows...
Saved all data to d:\Data Science/data/pkl/previous_application.p

# get bureau (các khoản tín dụng bên ngoài được báo cáo về)

In [22]:
load_save(table_name="bureau")

Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 16428 rows...
Saved all data to d:\Data Science/data/pkl/bureau.p

# get bureau_balance (số dư hàng tháng của bureau)

In [23]:
load_save(table_name="bureau_balance")

Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...

Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 99925 rows...
Saved all data to d:\Data Science/data/pkl/bureau_balance.p

# get credit card balance (số dư hàng tháng đối với các application trước đó)

In [24]:
load_save(table_name="credit_card_balance")

Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 40312 rows...
Saved all data to d:\Data Science/data/pkl/credit_card_balance.p

# get installments payments (lịch sử trả tiền định kỳ cho các application trước đây được giải ngân)

In [25]:
load_save(table_name="installments_payments")

Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 5401 rows...
Saved all data to d:\Data Science/data/pkl/installments_payments.p

# get pos cash balance (lịch sử số dư hàng tháng của các khoản vay tiêu dùng và vay tiền mặt mà khách hàng đã vay trước đó)

In [26]:
load_save(table_name="pos_cash_balance")

Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 100000 rows...
Saved 1358 rows...
Saved all data to d:\Data Science/data/pkl/pos_cash_balance.p

# get descriptions

In [6]:
load_save(table_name="homecredit_columns_description")

Saved 219 rows...
Saved all data to d:\Data Science/data/pkl/homecredit_columns_description.p

In [7]:
df = pd.read_csv(ROOT + "/data/csv/homecredit_columns_description.csv")

In [8]:
df["Table"] = df["Table"].replace("application_{train|test}.csv", "train_test")

In [9]:
df

,MyUnknownColumn,Table,Row,Description,Special
0,1,train_test,SK_ID_CURR,ID of loan in our sample,NaN
1,2,train_test,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,train_test,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,train_test,CODE_GENDER,Gender of the client,NaN
4,7,train_test,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...,...
214,217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

In [10]:
tmp = df[df["Table"] == "train_test"]

In [11]:
tmp["Table"] = "test"

C:\Users\Admin\AppData\Local\Temp\ipykernel_12828\1039460742.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp["Table"] = "test"

In [12]:
tmp

,MyUnknownColumn,Table,Row,Description,Special
0,1,test,SK_ID_CURR,ID of loan in our sample,NaN
1,2,test,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,test,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,test,CODE_GENDER,Gender of the client,NaN
4,7,test,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...,...
117,120,test,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,121,test,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,122,test,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,123,test,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,124,test,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN

In [13]:
tmp = tmp[tmp["Row"] != "TARGET"]

In [14]:
df = pd.concat([df, tmp])

In [15]:
df = df.replace("train_test", "train")

In [16]:
df["Table"] = df["Table"].str.replace(r".csv$", "", regex=True)

In [17]:
df

,MyUnknownColumn,Table,Row,Description,Special
0,1,train,SK_ID_CURR,ID of loan in our sample,NaN
1,2,train,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,train,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,train,CODE_GENDER,Gender of the client,NaN
4,7,train,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...,...
117,120,test,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,121,test,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,122,test,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,123,test,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,124,test,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN

In [19]:
df.to_csv(ROOT + "/data/csv/description.csv", index=False)
df.to_pickle(ROOT + "/data/pkl/description.p")